.carousel-container{
    margin: 0 auto;
    max-width: 60%;
    max-height: 50%;
    overflow: hidden;
    position: relative;
}
.carousel-container > img{
    display: inline;
}
.carousel-btn{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-display-left{
    top: 50%;
    left: 0;
}
.btn-display-right{
    top: 50%;
    right: 0;
}
.svg-carousel-btn{
    fill: white;
}
