/* Make People Happy */
.make-people-happy{
    font-size: 3vw;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 1.5vw;
}
.large-passage{
    width: 38%;
}

.features-grid{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70% 30%;
    position: relative;
}
.hyphens-hr{
    position: absolute;
    left: 8%;
    top: 30%;
    border:none;
    border-top: 0.5px dashed rgba(255, 255, 255, 0.5);
    height: 0.5px;
    width: 84%;
}
.svg-grid{
    margin: 0.1vw;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 33% 33% 33%;
}
.svg-grid > div{
    margin: 0 auto;
    text-align: center;
}
.white-circle{
    position: relative;
}
.white-circle > span{
    max-width: 240px;
    max-height: 240px;
    width: 12vw;
    height: 12vw;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}
.white-circle > svg{
    position: absolute;
    top: 4vw;
}
.svg-top{
    left: 4vw;
    fill: #bbb;
}
.svg-bottom{
    left: 0px;
    fill: white;
    opacity: 0;
    transition: 0s;
}
.white-circle:hover > span{
    opacity: 0.3;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.5);
}
.white-circle:hover > .svg-top{
    opacity: 0;
}
.white-circle:hover > .svg-bottom{
    opacity: 1;
    left: 4vw;
    transition: 0.4s;
}
.main-feature{
    width: 100%;
}
