.dante-art-work-section{
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}
.hud-weapon-container{
  position: relative;
}
.hud-weapon-container:hover{
  cursor: pointer;
}
.hud-weapon-container img{
  position: absolute;
  transition: 0.5s all;
}
#hud-gun-container{
  position: absolute;
  bottom: 20%;
  left: 10%;
}
#hud-arm-container{
  position: absolute;
  bottom: 20%;
  right: 20%;
}
#gun-hud-1, #arm-hud-1{
  transform: translateY(-50%) scale(1.2);
  z-index: 3;
}
#gun-hud-2, #arm-hud-2{
  transform: translate(50%) scale(0.9);
  opacity: 0.8;
  z-index: 2;
}
#gun-hud-3, #arm-hud-3{
  transform: translate(-50%) scale(0.9);
  opacity: 0.8;
  z-index: 2;
}
.dante-art-work-container img{
  position: absolute;
  transition: 0.5s all;
  width: 100%;
}
#art-work-gun{
  transition: 0.6s all;
  z-index: 1;
  opacity: 0;
}
#art-work-arm{
  transition: 0.6s all;
  z-index: 2;
  opacity: 1;
}

#art-work-gun-1, #art-work-arm-1{
  transform: translateX(0);
}
#art-work-gun-2, #art-work-arm-2{
  transform: translateX(100%);  
  opacity: 0;
}
#art-work-gun-3, #art-work-arm-3{
  transform: translateX(-100%);
  opacity: 0;
}