.grid-dante-section{
  background-image: url("../resources/images/bgs/r11.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
}
#dante-model-front, #nero-model-front{
  z-index: 4;
}
#dante-model-front img, #nero-model-front img{
  margin-left: 20%;
  width: 90%;
}
#dante-model-back, #nero-model-back{
  opacity: 0.4;
  z-index: 3;
}
#dante-model-back img, #nero-model-back img{
  width: 80%;
}
.flex-box{
  display: flex;
  align-items: center;
}
.flex-carousel-container{
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  align-items: center;
}
.carousel-video-container{
  margin: 0 5%;
  overflow: hidden;
}
.carousel-btn{
  width: 10%;
  transition: 0.3s all;
}
.carousel-btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.carousel-grid{
  display: grid;
  grid-template-columns: 100% 100% 100% 100% 100% 100%;
  transition: 0.5s all;
}
.carousel-grid img{
  width: 100%;
}
#dante-description{
  padding: 10%;
  margin: 0 10%;
}
#dante-description p{
  margin: 0;
}