.footer-section{
  background-image: url("../resources/images/devil_arms/art_work/lucifer.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(241, 241, 241);
  font-size: 1em;
  padding: 5% 0 0 5%;
}
.footer-text-container{
  width: 30%;
  padding: 3%;
  margin-top: 20%;
  background-color: rgba(0, 0, 0, 0.8);
}