body,html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

@media screen and (max-width: 1200px) {
    div.disappear-in-small-screen{
    display: none;
    box-sizing: border-box;
    float: left;
    }
}

.header-disapearing-bar-grid {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 65% 35%;
    min-width: 1150px;
    max-width: 60vw;
}
.home-button {
    text-align: left;
    margin: 10px;
}

.navigation-button-container-grid {
    display: grid;
    grid-template-columns: 20% 20% 24% 16% 20%;
}

a.navigation-button {
    position: relative;
    display: block;
    font-family: 'Nunito', sans-serif;
    text-decoration-line: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
}

/* Hover Animation */

a.navigation-button::after {
    content: "";
    transition: 0.3s all ease;
    position: absolute;
    bottom: -2px;
    height: 2px;
    left: 0;
    width: 0;
    opacity: 1;
    background: white;
}

#home::after {
    width: 3em;
    opacity: 1;
}

#story:hover::after {
    width: 3.2em;
    opacity: 1;
}

#gallery:hover::after {
    width: 4.4em;
    opacity: 1;
}

#menu:hover::after {
    width: 2.8em;
    opacity: 1;
}

#contact:hover::after {
    width: 4.6em;
    opacity: 1;
}

/* ---------- */

.header-spacer {
    height: 16vh;
}

.header-signature {
    font-size: 4vw;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 20px;
    position: relative;
    animation-name: HeaderSignature;
    animation-duration: 0.5s;
}
@keyframes HeaderSignature{
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
.request-demo {
    padding: 0.6vw 1.2vw;
    border: none;
    border-radius: 3px;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    text-decoration-color: #252525;
    font-weight: bolder;
    font-size: 0.6vw;
    letter-spacing: 1px;
    transition: 0.2s;
}

.request-demo:hover {
    background-color: rgb(255, 159, 13)
}

