html, body{
  padding: 0;
  margin: 0;
  font-size: 1.15vw;
  background-color: black;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0, 0.2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); 
}
.nav-bar{
  position: fixed;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Encode Sans Condensed', sans-serif;
  transition: 1s all ease;
  top: -50%;
  left: 10%;
  width: 80%;
  z-index: 99;
  opacity: 1;
}
.nav-bar:hover{
  opacity: 1!important; 
}
.nav-bar::after {
  content: "";  
  background-image: url("../resources/images/nav-bar.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.nav-bar ul{
  width: 100%;
  margin: 0% auto;
  list-style-type: none;
}
.nav-bar li{
  float: left;
  max-width: 14%;
  box-sizing: border-box;
  margin: 1.2% 3%;
  color: rgba(255, 255, 255, 0.801);
  font-size: 1.05em;
  transition: 0.5s all;
}
.nav-bar li:hover{
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 5px rgb(49, 49, 253);
}

video{
  max-width: 100vw;
  transition: 0.5s all ease;
}
.bg-container{
  position: relative;
  overflow: hidden;
}
.description-box{
  background-image: url("../resources/images/words/light-red-p-container.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.description-box p{
  font-family: 'Noto Serif', serif;
  color: rgb(214, 214, 214);
  font-size: 1em;
}
.bg-container img{
  width: 100%;
}
.bg-container *{
  transition: 0.5s all ease-out;
}

#introVid{
  width: 100%;
  position: relative;
  z-index: 6;
}
.father-half-container{
  width: 100vw;
  position: relative;
}
#dante-container{
  width: 50vw;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -50vw;
}
#nero-container{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
}
.grid-half-container{
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.hc-right{
  position: relative;
  right: -100vw;
}
.hc-right div{
  position: relative;
  right: 50vw;
}
.bg-full-red{
  background-image: url("../resources/images/bgs/full_red_darken_bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-full-blue-purple{
  background-image: url("../resources/images/bgs/full_blue_purple.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.section-container{
  width: 100%;
}
.carousel-title{
  display:block; 
  margin: 0 auto; 
  width: 40%;
}
.model-container{
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  padding: 4% 0 0;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.model-container *{
  transition: 0.5s all;
}
.model{
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.model img:hover{  
  cursor: pointer;
}