html, body{
  padding: 0;
  margin: 0;
  background-color: black;
}
body *{
  transition: 0.5s all ease-out;
}
img{
  width: 100%;
}
video{
  max-width: 100vw;
  transition: 0.5s all ease;
}
::-webkit-scrollbar { 
    display: none; 
}
.bg-container{
  max-height: 100vh;
  position: relative;
}
#introVid{
  position: absolute;
  z-index: 2;
}
.father-half-container{
  position: relative;
}
#dante-container{
  width: 50vw;
  overflow: hidden;
  position: absolute;
  left: -50vw;
}
#nero-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}
.grid-half-container{
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.hc-right{
  position: relative;
  right: -100vw;
}
.hc-right div{
  position: relative;
  right: 50vw;
}