body,
html {
    margin: 0;
    overflow: visible;
    position: relative;
}


/* @media only screen and (max-width: 400px) {
    .parallax{
        min-height: 35vh !important;
    }
    .header-spacer{
        height: 1vh !important;
    }
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
    .parallax{
        min-height: 55vh !important;
    }
    .header-spacer{
        height: 2vh !important;
    }
}

@media only screen and (min-width: 961px) {
    .parallax{
        min-height: 85vh !important;
    }
    .header-spacer{
        height: 3vh !important;
    }
}
@media screen and (min-width: 1200px) {
    .parallax{
        min-height: 100vh !important;
    }
    .header-spacer{
        height: 3vh !important;
    }
}
@media screen and (min-width: 1600px) {
    .parallax{
        min-height: 110vh !important;
    }
    .header-spacer{
        height: 4.5vh !important;
    }
}
@media screen and (min-width: 1900px) {
    .parallax{
        min-height: 115vh !important;
    }
    .header-spacer{
        height: 5vh !important;
    }
}
@media screen and (max-width: 1200px) {
    div.disappear-in-small-screen {
        display: none !important;
        box-sizing: border-box;
        float: left;
    }
} */
img {
    max-width: 100%;
    max-height: 100%;
}
.header-spacer {
    height: 19vh;
}
.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.bgimg-1 {
    background-image: url("https://binh1298.github.io/resources/images/home-head.jpg");
    min-height: 110vh;
}

.bgimg-2 {
    background-image: url("https://binh1298.github.io/resources/images/home-03.jpg");
    min-height: 140vh;
}

.bgimg-3 {
    background-image: url("https://binh1298.github.io/resources/images/home-04.jpg");
    min-height: 120vh;
}

.bgimg-4 {
    background-image: url("https://binh1298.github.io/resources/images/home-06.jpg");
    min-height: 140vh;
}

.dark-filter {
    background-color: rgba(0, 0, 0, 0.6);
}

.foggy-filter {
    background-color: rgba(255, 255, 255, 0.08);
}

.bg-overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

.reveal-animation {
    position: relative;
    opacity: 0;
    top: 200px;
    transition: 0.6s;
}

.slide-in-from-bottom {
    opacity: 1 !important;
    top: 0 !important;
}

.display-none {
    opacity: 0;
    display: none;
}

.slogan {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    font-size: 1.3vw;
    text-align: center;
    font-weight: 800;
}

.white-font {
    color: white;
}

.soft {
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 5.6vw;
}

.passage {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 1.2vw;
    padding: 5%;
    width: 90%;
    margin: 0 auto;
}
.large-passage{
    padding: 1%;
    width: 55%;
}
.pale-font{
    opacity: 0.8;
}