html, body{
  padding: 0;
  margin: 0;
  background-color: black;
}
img{
  width: 100%;
}
video{
  max-width: 100vw;
  transition: 0.5s all ease;
}
::-webkit-scrollbar { 
    display: none; 
}
.bg-container{
  max-height: 100vh;
  position: relative;
}
#introVid{
  position: absolute;
  z-index: 2;
}
.father-half-container{
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-half-container{
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}
#dante-container{
  width: 100%;
  overflow: hidden;
  position: relative;
  left: -100vw;
  transition: 1s left ease;
  transition: 1.2s opacity ease;
}
#nero-container{
  width: 100%;
  overflow: hidden;
  /* Move the nero bg to the left */
  position: relative;
  right: -100vw;
  transition: 1s right ease;
  transition: 1.2s opacity ease;
}
.hc-right{
  position: absolute;
  right: 0;
}