.grid-nero-section{
  background-image: url("../resources/images/bgs/b11.png");
  background-size: contain;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow-x: hidden;
}
#nero-model-front img{
  margin-left: 0;
}
#nero-model-back img{
  margin-left: 20%;
}