#grid-others-section{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  position: relative;
  overflow: hidden;
}
.others-avatars{
  width: 80%;
}
#others-description{
  width: 40%;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding: 2%;
}
#others-description p{
  transition: 0.5s all;
  margin: 8%;
  margin-right: 5%;
}
#others-description-0{
  opacity: 1;
}
#others-description-1, #others-description-2{
  opacity: 0;
  display: none;
}
#marry-model, #trish-model{
  opacity: 0.4;
}
#marry-model, #vergil-model, #trish-model{
  display: block;
  margin: 0 auto;  
}