.sticky-bar{
    position: -webkit-sticky;
    position: sticky;
    transition: 2s;
    top: 0;
    opacity: 1;
    background-color: white;
    z-index: 1;
}
.header-sticky-bar-grid{
    padding-bottom: 10px;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-columns: 65% 35%;
    min-width: 1150px;
    max-width: 60vw;
    border-color: rgba(150, 150, 150, 0.8);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.home-button-sticky{
    margin-top: 5px;
}

.navigation-button-sticky {
    position: relative;
    display: block;
    font-family: 'Nunito', sans-serif;
    text-decoration-line: none;
    color: rgba(150, 150, 150, 1);
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Hover Animation */

a.navigation-button-sticky::after {
    content: "";
    transition: 0.3s all ease;
    position: absolute;
    top: 1vw;
    height: 2px;
    left: 0;
    width: 0;
    opacity: 1;
    background: white;
}
