/* About Danae */
.content-1{
    background-color: white;
    width: 100%;
}
.row-flex-container{
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 5%;
}
.content-1-left-box{
    max-width: 40%;
    justify-content: center;
    margin-right: 5%;
}
.content-1-left-box > div{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.content-1-right-box{
    max-width: 40%;
}

.our-story{
    padding: 5%;
    padding-top: 10%;
    font-size: 1.2vw;
}
.about-danae{
    font-size: 2.8vw;
}
.read-more{
    display: inline;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    font-size: 0.8vw;
    letter-spacing: 1px;
}