/* ============================================================================
   ROW - Default
   ========================================================================= */
.mkhb-row {
	margin: 0;
	padding: 0;
	text-align: left;
    background-color: #ffffff;
	border-width: 0;
	border-color: #ffffff;
	border-style: solid;
}

.mkhb-row__container,
.mkhb-row__container-fluid {
	border-width: 0;
	border-color: #ffffff;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.mkhb-row--bg-image {
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}

/* ============================================================================
   ROW - General
   ========================================================================= */
.mkhb-container,
.mkhb-container-fluid {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.mkhb-mobile .mkhb-container {
    display: block;
}

.mkhb-container-fluid {
	width: 100%;
}

@media (min-width: 768px) {
    .mkhb-container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .mkhb-container {
        width: 960px
    }
}
@media (min-width: 1200px) {
    .mkhb-container {
        width: 1140px
    }
}

.mkhb-container-fluid:after,
.mkhb-container-fluid:before,
.mkhb-container:after,
.mkhb-container:before,
.mkhb-row:after,
.mkhb-row:before {
    content: " ";
    display: table
}

.mkhb-container-fluid:after,
.mkhb-container:after,
.mkhb-row:after {
    clear: both
}

/* Use flexbox when setting equal-height columns. */
.mkhb-equal-height-columns {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mkhb-container img, .mkhb-container-fluid img {
	max-width: 100%;
	display: block;
}
