/* ============================================================================
   DEVICE
   ========================================================================= */
.mkhb-device * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkhb-device *:before,
.mkhb-device *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkhb-device.mkhb-desktop:before,
.mkhb-device.mkhb-desktop:after {
    content: " ";
    display: table;
    clear: both;
}

.mkhb-container,
.mkhb-container-fluid {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.mkhb-mobile .mkhb-container {
    display: block;
}

.mkhb-container-fluid {
	width: 100%;
}

@media (min-width: 768px) {
    .mkhb-container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .mkhb-container {
        width: 960px
    }
}
@media (min-width: 1200px) {
    .mkhb-container {
        width: 1140px
    }
}

.clearfix:after,
.clearfix:before,
.mkhb-container-fluid:after,
.mkhb-container-fluid:before,
.mkhb-container:after,
.mkhb-container:before,
.mkhb-row:after,
.mkhb-row:before {
    content: " ";
    display: table
}
.clearfix:after,
.mkhb-container-fluid:after,
.mkhb-container:after,
.mkhb-row:after {
    clear: both
}

/* Use flexbox when setting equal-height columns. */
.mkhb-equal-height-columns {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mkhb-container img, .mkhb-container-fluid img {
    max-width: 100%;
    display: block;
}

.mkhb-custom-header {
    border-bottom: 1px solid #ededed;
}

/* ============================================================================
   INLINE CONTAINER
   ========================================================================= */
.mkhb-inline-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.mkhb-inline-container div[class^=mkhb-inline-container__] {
    flex: 1;
    display: flex;
}

.mkhb-inline-container__left {
    justify-content: flex-start;
}
.mkhb-inline-container__center {
    justify-content: center;
}
.mkhb-inline-container__right {
    justify-content: flex-end;
}

.mkhb-col-align__top div[class^=mkhb-inline-container__] {
    align-items: flex-start;
}

.mkhb-col-align__middle div[class^=mkhb-inline-container__] {
    align-items: center;
}

.mkhb-col-align__bottom div[class^=mkhb-inline-container__] {
    align-items: flex-end;
}

/* ============================================================================
   FIXED HEADER
   ========================================================================= */
.mkhb-fixed--filled {
    height: 92px;
}

.mkhb-fixed--filled.mkhb-overlap {
    height: auto;
}

.mkhb-fixed > .mkhb-device-container,
.mkhb-overlap > .mkhb-device-container {
    width: 100%;
    z-index: 200;
}

.mkhb-fixed > .mkhb-device-container,
.mkhb-fixed.mkhb-overlap > .mkhb-device-container {
    position: fixed;
}

.mkhb-overlap > .mkhb-device-container {
    position: absolute;
}

/* ============================================================================
   STICKY HEADER
   ========================================================================= */
.mkhb-sticky {
    width: 100%;
    position: fixed;
    z-index: 301;
    top: -100px;
    opacity: 0;
}

.mkhb-sticky--active {
    transition: top 0.35s ease 0.1s;
    opacity: 1;
}

.mkhb-sticky.mkhb-sticky--lazy {
    transition: all 0.3s ease-in-out;
}


/* ============================================================================
   DEVICES DISPLAY
   ========================================================================= */
@media (max-width: 767px) {
    .mkhb-el-tablet,
    .mkhb-el-desktop,
    .mkhb-el-sticky--tablet,
    .mkhb-el-sticky--desktop {
        display: none !important;
    }
    .mkhb-tablet,
    .mkhb-desktop,
    .mkhb-sticky--tablet,
    .mkhb-sticky--desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mkhb-el-mobile,
    .mkhb-el-desktop,
    .mkhb-el-sticky--mobile,
    .mkhb-el-sticky--desktop {
        display: none !important;
    }
    .mkhb-mobile,
    .mkhb-desktop,
    .mkhb-sticky--mobile,
    .mkhb-sticky--desktop {
        display: none;
    }
}

@media (min-width: 1025px) {
    .mkhb-el-mobile,
    .mkhb-el-tablet,
    .mkhb-el-sticky--mobile,
    .mkhb-el-sticky--tablet {
        display: none !important;
    }
    .mkhb-mobile,
    .mkhb-tablet,
    .mkhb-sticky--mobile,
    .mkhb-sticky--tablet {
        display: none;
    }
}

/* ============================================================================
   CONTACT AND SCROLL TOP - DEVICES DISPLAY
   ========================================================================= */
.mkhb-shopping-icon .mk-go-top,
.mkhb-shopping-icon .mk-quick-contact-wrapper {
    bottom: 15px;
}
@media handheld, only screen and (max-width: 1024px) {
    .mkhb-shopping-icon .mk-go-top.is-active {
        bottom: 73px;
    }
}
@media handheld, only screen and (min-width: 768px) and (max-width: 1024px) {
    .mkhb-shopping-icon--tablet .mk-go-top,
    .mkhb-shopping-icon--tablet .mk-quick-contact-wrapper {
        bottom: 87px;
    }
    .mkhb-shopping-icon--tablet .mk-go-top.is-active {
        bottom: 145px;
    }
}
@media handheld, only screen and (max-width: 767px) {
    .mkhb-shopping-icon--mobile .mk-go-top,
    .mkhb-shopping-icon--mobile .mk-quick-contact-wrapper {
        bottom: 87px;
    }
    .mkhb-shopping-icon--mobile .mk-go-top.is-active {
        bottom: 145px;
    }
}